VOLTIQ_DB_HOST=127.0.0.1
VOLTIQ_DB_PORT=5432
VOLTIQ_DB_NAME=voltiq
VOLTIQ_DB_USER=voltiq
VOLTIQ_DB_PASSWORD=voltiq_dev_password
VOLTIQ_DIFY_BASE_URL=http://localhost/v1
VOLTIQ_DIFY_API_KEY=app-Ib6wgQWQYYnL0jsXVB5UoNBx
VOLTIQ_DIFY_REQUEST_TIMEOUT_SECONDS=120
VOLTIQ_DIFY_RESPONSE_MODE=blocking
VOLTIQ_DIFY_REQUEST_MAX_RETRIES=2
VOLTIQ_DIFY_REQUEST_RETRY_BACKOFF_SECONDS=1
